.horizontal-rule {
    border-top: 6px solid white;
    border-radius: 25px;
    width: 50%;
}

#banner-projetos h1 {
    margin-top: 5%;
    font-family: 'Inconsolata', monospace;
    color: white;
}