<div id="main-row" class="row d-flex align-self-center">
            <div id="text-col" class="col-xl-6 text-left">
                <h1>Olá Mundo!_</h1>
                <h2>Meu Nome É Pedro Vidal</h2>
                <p>Programador Apaixonado Por Códigos e Máquinas</p>
            </div>
            <div class="col-xl-6 d-flex align-self-center justify-content-center">
                <img src="../../../assets/images/placeholder.png" class="img-fluid rounded-circle" alt="Placeholder" style="max-width: 50%">
            </div>
</div>