h1, h2, p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#main-row {
    margin-top: 10%;
    margin-bottom: 10%;
}

#text-col {
    padding-left: 10%;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 70px;
    padding-top: 20%
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin-top: 5%;
}

.rounded-circle {
    border-radius: 50% !important;
}

