<div id="about" class="row d-flex align-self-center">
            <div id="text-col" class="col-lg-6 text-left">
                <div id="icon-row" class="row-lg-6">
                    <a class="icons" href="https://github.com/PedroVidal27" target="_blank"><img style="width: 40px" src="../../../assets/icons/github-icon-white.png"/></a>
                    <a class="icons" href="https://www.linkedin.com/in/pedro-c-vidal/" target="_blank"><img style="width: 40px" src="../../../assets/icons/linkedin-icon.png"/></a>
                </div>
                <h1>Olá Mundo!_</h1>
                <h2>Meu Nome É Pedro Vidal</h2>
                <p>Programador Apaixonado Por Códigos e Máquinas</p>
            </div>
            <div id="avatar-image" class="col-lg-6 d-flex align-self-center justify-content-center">
                <img src="../../../assets/images/placeholder.png" class="img-fluid rounded-circle" alt="Placeholder" style="max-width: 50%">
            </div>
</div>