<div class="row d-flex align-self-center" style="margin-top: 5%">
            <div class="col-xl-6" style="padding-left: 10%;">
                <h1>Olá Mundo!_</h1>
                <h2>Meu Nome É Pedro Vidal</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget neque id libero luctus hendrerit. Aliquam varius rutrum ligula, id elementum mi convallis non. Duis ligula quam, sollicitudin congue faucibus vel, tincidunt id mi. Proin luctus ex eu dictum venenatis. Phasellus ut purus eu massa bibendum consequat. Cras at dapibus est. Phasellus convallis, risus ut varius tempus, est nunc dignissim augue, sit amet vehicula orci dui vel metus. Nam vitae ante a urna viverra dapibus. Praesent id nunc pretium, pellentesque mauris ut, scelerisque leo. Phasellus vel lobortis lectus, eget eleifend enim.</p>
            </div>
            <div class="col-xl-6 d-flex align-self-center justify-content-center">
                <img src="../../../assets/images/placeholder.png" class="img-fluid rounded-circle" alt="Placeholder" style="max-width: 50%">
            </div>
</div>